
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@700&family=Roboto&family=Tillana&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .MainPage {
    background: #360369;
    width: 100vw;
    height: 100vh;
    margin: auto;
    position: relative;
  }
  
  h1 {
    color: #ffffff;
    font-size: 100px;
    position: absolute;
    top: 35%;
    left: 26%;
  }
  
  #button {
    font-family: 'Courier New', Courier, monospace;
    background-color: #ffffff;
    color: #000000;
    font-weight: 100;
    font-size: 20px;
    width: 340px;
    height: 45px;
    position: absolute;
    top: 60%;
    left: 35%;
  }

#button:hover {
    background-color: #f39c12;
    box-shadow: 0px 6px 7px rgba(0, 0, 0, .2);
    transform: translateY(-3px);
    color: #ffffff;
}


